---
import Badge from './Badge.astro'

import { slugify, formatDate } from '../js/utils'

const { frontmatter, url } = Astro.props

const { title, date, author, image, description, categories } = frontmatter
---

<!-- flex justify-start items-start w-fit gap-x-2 -->
<article class='grid grid-cols-5 grid-rows-1 gap-2'>
  <a href={url} class='col-span-2'>
    <img class='rounded aspect-auto' src={image.src} alt={image.alt} />
  </a>
  <section class='col-span-3'>
    <p class='flex gap-1 flex-wrap justify-start items-center capitalize mb-1'>
      {
        categories.map((category) => (
          <a href={`/categories/${slugify(category)}`}>
            <Badge>{category}</Badge>
          </a>
        ))
      }
    </p>
    <h3
      class='text-red-300 hover:text-red-200 transition-colors text-sm md:text-base lg:text-lg font-semibold'
    >
      <a href={url}>{title}</a>
    </h3>
    <p class='text-xs md:text-sm text-white/85'>{description}</p>
    <span class='text-sky-500 text-xs mb-2'
      >By <a
        class='text-sky-400 hover:text-sky-300 transition-colors'
        href={`/author/${slugify(author)}`}>{author}</a
      > • {formatDate(date)}</span
    >
  </section>
</article>
