---
import Layout from '@/layouts/Layout.astro'

import PostHeader from '@components/PostHeader.astro'

const { frontmatter } = Astro.props

const { title, date, author, image, description, categories } = frontmatter
---

<Layout title={`ZephyroCode - ${title}`} description={description}>
  <main class='mx-auto mt-16 mb-10'>
    <PostHeader {title} {description} {date} {author} {image} {categories} />
    <article class='px-4 lg:w-[740px] text-pretty mx-auto'>
      <slot />
    </article>
    <aside></aside>
  </main>
</Layout>

<style is:inline>
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #1e293b, #020617);
    flex-direction: column;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(252 165 165);
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.15rem;
    font-weight: 600;
    color: rgb(252 165 165);
    margin-bottom: 0.75rem;
  }

  h4 {
    font-size: 1.05rem;
    font-weight: 600;
    color: rgb(252 165 165);
    margin-bottom: 0.75rem;
  }

  h5 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(252 165 165);
    margin-bottom: 0.75rem;
  }

  h6 {
    font-size: 0.85rem;
    font-weight: 600;
    color: rgb(252 165 165);
    margin-bottom: 0.75rem;
  }

  strong {
    font-weight: 600;
    color: rgb(56 189 248 / 0.85);
  }

  pre {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  pre code {
    font-size: inherit;
    padding: 0;
    border: none;
    color: inherit;
    background-color: transparent;
  }

  code {
    font-size: 0.75rem;
    padding: 0.125rem 0.25rem;
    border: 1px solid rgb(56 189 248);
    color: rgb(186 230 253);
    border-radius: 0.25rem;
    background-color: rgb(255 255 255 / 0.15);
  }

  p {
    margin-bottom: 0.75rem;
  }

  p a {
    color: rgb(186 230 253 / 0.8);
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  p a:hover {
    color: rgb(125 211 252 / 0.8);
  }

  ul {
    margin-bottom: 0.75rem;
    list-style: disc;
  }

  ol {
    list-style: decimal;
    margin-bottom: 0.75rem;
  }

  li {
    margin-left: 1.5rem;
  }

  li::marker {
    color: hsl(199, 89%, 48%);
  }

  hr {
    border: 1px solid hsl(199, 89%, 48%);
    width: 20%;
    margin-bottom: 1rem;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
